*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
        padding: 0;
        box-sizing: border-box;
    
}
/*styling the login page*/
.maincontainer{
display: flex;
flex-flow: column;
}
.upper_side{
 display: flex;

 height: 90vh;
}

.background>img{
    display: flex;
    height: 70%;
    
}
.background{
 max-width: 50%;
 display: flex;
 justify-content: center;
 background: url(./hero.png);
 padding: 15px 15px;
 
}
.login{
 display: flex;  
 flex-flow: column;
 min-width: 50%;
 padding: 10px 30px;
border-radius: 20px;
}
.login>img{
    width:40px;
  
    
}
.login>h1{
    font-size:60px;
    padding-top: 20px;

}
.login>h2{
    padding-top: 30px;
}
.login>p{
    font-size: 10px;
    width: 40%;
    color: gray;
    margin-top: 10px;
}
.login>p>span{
   
    color:rgb(124, 183, 250) ;
}
.btn-blue{
color: white;
background-color: rgb(124, 183, 250);
font-weight: bold;
font-size: 13px;
border: 0px;
margin-top: 30px;
}
.login>input{
    width: 40%;
    height: 5%;
    margin-top: 20px;

    
}
.footer{
    padding: 15px 30px;
    color: rgb(146, 144, 144);
    font-size: small;

}
.popup{
    display: none;
    background-color: white;
    width: 70vw;
    height: 70vh;
    position: absolute;
    z-index: 1;
    margin: 20vh 15vh 35vh 40vh;
    border: 1px solid black;
}
/*Utilizes*/
.btn{
    height: 7%;
    width: 40%;
    border-radius: 20px;
    margin-top: 20px;
}